<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <%= f.hidden_field :email, :value => gen_and_save_email_to_session %>

<h3>Which image speaks to you?</h3>
<div>
<img class="gravatar" src="<%= retro %>" />
<img class="gravatar" src="<%= identicon %>" /></div>
</br>

<div><%= f.text_field :username, placeholder: 'Username'  %></div></br>

<div><%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %></div></br>

<div><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %></div></br>
<div><%= f.text_field :birth_year, placeholder: 'What year were you born?'  %></div></br>
  <div><%= f.label :gender %><%= f.select :gender, ['-', 'Female', 'Male'] %></div>

  <div><%= f.label "Sexual Orientation" %><%= f.select :orientation, ['-', 'Bi-Sexual', 'Gay', 'Lesbian', 'Straight', 'Transsexual', 'Transgender', 'Other'] %></div>
  <div><%= f.label :ethnicity %><%= f.select :ethnicity, ['-', 'American Indian', 'Asian', 'Black/African American', 'Hispanic/Latino', 'White', 'Other'] %></div>
  <div><%= f.label "Religious Views" %><%= f.select :religion, ['-', 'Agnostic', 'Atheist', 'Buddhist', 'Christian', 'Hindu', 'Jewish',  'Muslim', 'Other'] %></div>
</br>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
