<!DOCTYPE html>
<html>
<head>
  <title>WdiProject2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
  <div id="user_nav">
  <% if current_user %>
  <nav class="user_nav">
    <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
  </nav>
  <% else %>
  <nav class="user_nav">
    <%= link_to "Sign Up", new_user_registration_path %> |
    <%= link_to "Sign In", new_user_session_path %>
    </nav>
  <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
