<!DOCTYPE html>
<html>
<head>
  <title>& A</title>
  <%= favicon_link_tag 'favicon.ico' %>


  <!-- JAVASCRIPTS -->

  <!-- TEMPLATES -->

        <% if current_user %>
        <script id="questionTemplate" type="text/template">

        <div style="text-align: center;" id=<%%="modal" + id %> class="reveal-modal" data-reveal>
          <h4 style="font-family: 'Lobster', cursive; font-size: 38px;"class="question_title"><%%= content %></h4>
          <div class="question_options" id=<%%= id %>>
            <small id="useless" class=<%%= option_1 %>></small>
            <form class='answer_form'>
              <%% if (option_1 !== null) { %>
              <label style="text-transform:uppercase;" for=<%%= option_1 %>><%%= option_1 %></label>&nbsp&nbsp<input style="zoom:250%;" type="radio" class="question_option_1" name="radioName" value=<%%= option_1 %>><small> or</small>&nbsp
              <input type="radio" style="zoom:250%;" class="question_option_2" name="radioName" value=<%%= option_2 %>>&nbsp<label style="text-transform:uppercase;" for=<%%= option_2 %>><%%= option_2 %></label></br>
              <%% } else {%>
                <p style="font-family: 'Walter Turncoat', cursive; font-size:20px;"><%%= range_min %> <input type="range" name="range_answer" min=<%%= range_min %> max=<%%= range_max %> step=1> <%%= range_max %></p>
              <%% } %>
              </br><input type"text" class="comment" name='comment' placeholder="Comment">
              <input type="hidden" name="user_id" value=<%=current_user.id %>>
              </br></br><input type="submit">
            </form>
          </div>
          <a class="close-reveal-modal">&#215;</a>
        </div>

        <a href='#' data-reveal-id=<%%="modal" + id %>>
          <div class='trend_quest'>
            <h4 style="font-family: 'Walter Turncoat', cursive;"class="question_content"><%%= content %></h4>
          </div>
        </a>
        <%% $(document).foundation(); %>
        </script>
      <% else %>
        <script id="questionTemplate" type="text/template">
          <div id="wut" class="reveal-modal" data-reveal>
            <h1 style="font-family: 'Permanent Marker', cursive;">We have your curiosity, may we have your attention?</h1>
            <p>Sign up or log in to browse through the answers, and even ask your own <b style="font-family: 'PT Serif', serif;">Q</b>uestions!</p>
            <small style="font-family: 'Permanent Marker', cursive;">Don&#39;t worry, you&#39;ll remain anonymous to other users.</small>

            <a class="close-reveal-modal">&#215;</a>
          </div>


          <a href='#' data-reveal-id="wut">
          <div class='trend_quest'>
            <h4 style="font-family: 'Walter Turncoat', cursive;"class="question_content"><%%= content %></h4>
          </div>
        </a>
        <%% $(document).foundation(); %>
        </script>
      <% end %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  <!-- STYLES -->

  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>
  <!-- <img src="/assets/logo.png" class="logo"> -->
  <!-- Topbar -->
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="middle tab-bar-section">
          <a href="/"><h1 class="logo">Q</h1></a>
        </section>
        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      </nav>

      <!-- Off canvas menu -->
      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          <% if current_user %>
            <!-- <li><a href="/">Home</a></li>
            <li><a href="">My Q</a></li>
 -->            <li><a href="#" data-reveal-id="answerModal">Answer</a></li>
            <li><a href="" data-reveal-id="myModal">The people are talking...</a></li>
            <li><label>Settings</label></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </aside>

      <section class="main-section">

        <%= yield %>

      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>

  <script>
    $(document).foundation();
  </script>

</body>
</html>
