<!DOCTYPE html>
<html>
<head>
  <title>& A</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
  <!-- <img src="/assets/logo.png" class="logo"> -->
  <!-- Topbar -->
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="middle tab-bar-section">
          <a href="/"><h1 class="logo">Q</h1></a>
        </section>
        <section class="right-small">
          <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
      </nav>

      <!-- Off canvas menu -->
      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          <% if current_user %>
            <!-- <li><a href="/">Home</a></li>
            <li><a href="">My Q</a></li>
 -->            <li><a href="#" data-reveal-id="answerModal">Answer</a></li>
            <li><a href="" data-reveal-id="myModal">The people are talking...</a></li>
            <li><label>Settings</label></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </aside>

      <section class="main-section">

        <%= yield %>

      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>

  <script>
    $(document).foundation();
  </script>

</body>
</html>
